# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives

You will be able to: 

- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [142]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [143]:
# Your code here
df.head(7)

   Year              Datetime  ... Home Team Initials Away Team Initials
0  1930  13 Jul 1930 - 15:00   ...                FRA                MEX
1  1930  13 Jul 1930 - 15:00   ...                USA                BEL
2  1930  14 Jul 1930 - 12:45   ...                YUG                BRA
3  1930  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930  15 Jul 1930 - 16:00   ...                ARG                FRA
5  1930  16 Jul 1930 - 14:45   ...                CHI                MEX
6  1930  17 Jul 1930 - 12:45   ...                YUG                BOL

[7 rows x 20 columns]

Display the **last 3 rows** of the dataset.

In [144]:
# Your code here
df.tail(3)

     Year              Datetime  ... Home Team Initials Away Team Initials
849  2014  09 Jul 2014 - 17:00   ...                NED                ARG
850  2014  12 Jul 2014 - 17:00   ...                BRA                NED
851  2014  13 Jul 2014 - 16:00   ...                GER                ARG

[3 rows x 20 columns]

Get a concise summary of the data using `.info()`.

In [145]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the **number of rows and number of columns**.

In [146]:
# Your code here
df.shape

(852, 20)

Use the appropriate attribute to get the **column names**.

In [147]:
# Your code here
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [148]:
# Your code here
df.iloc[3:6]

   Year              Datetime  ... Home Team Initials Away Team Initials
3  1930  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930  15 Jul 1930 - 16:00   ...                ARG                FRA
5  1930  16 Jul 1930 - 14:45   ...                CHI                MEX

[3 rows x 20 columns]

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [149]:
# Your code here
df.loc[5:9, "Home Team Name"], df.loc[5:9., "Away Team Name"]

(5         Chile
 6    Yugoslavia
 7           USA
 8       Uruguay
 9         Chile
 Name: Home Team Name, dtype: object,
 5      Mexico
 6     Bolivia
 7    Paraguay
 8        Peru
 9      France
 Name: Away Team Name, dtype: object)

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [150]:
# Your code here
df.loc[(df["Year"] == 1950) & (df["Stage"] == "Group 3")]

    Year              Datetime  ... Home Team Initials Away Team Initials
56  1950  25 Jun 1950 - 15:00   ...                SWE                ITA
61  1950  29 Jun 1950 - 15:30   ...                SWE                PAR
65  1950  02 Jul 1950 - 15:00   ...                ITA                PAR

[3 rows x 20 columns]

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [151]:
# Your code here
df.loc[(df["Year"] == 1950) & (df["Stage"] == "Group 3") , ["Attendance"]]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [152]:
# Your code here
Netherlands_home_games =len(df[df["Home Team Name"]=="Netherlands"])
Netherlands_home_games

32

**How many games were played by the Netherlands in total**?

In [153]:
# Your code here
Netherlands_away_games = len(df[df["Away Team Name"]=="Netherlands"])
Netherlands_away_games

22

In [154]:
#How many games were played by the Netherlands in total?
Total_games_Netherlands = Netherlands_away_games + Netherlands_home_games
Total_games_Netherlands

54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [155]:
# Your code here
USA_home_games = len(df.loc[(df["Year"] == 2014) & (df["Home Team Name"] == "USA")])
USA_away_games = len(df.loc[(df["Year"] == 2014) & (df["Away Team Name"] == "USA")])
Total_games_USA_2014 = USA_home_games + USA_away_games
Total_games_USA_2014

5

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [156]:
# Your code here
world_cup_1986 = df[df["Year"] == 1986]
home_teams = world_cup_1986["Home Team Name"].unique()
away_teams = world_cup_1986["Away Team Name"].unique()
all_teams_1986 = set(home_teams) | set(away_teams)
num_countries_1986 = len(all_teams_1986)
num_countries_1986

24

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [157]:
# Your code here
df["Total Goals"] = df["Home Team Goals"] + df["Away Team Goals"]
high_scoring_matches = df[df["Total Goals"] >= 5]
num_high_scoring_matches = len(high_scoring_matches)
num_high_scoring_matches

147

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [158]:
# Your code here
df["Half-time Goals"] = df["Half-time Home Goals"] + df["Half-time Away Goals"]

In [159]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [160]:
# Run this cell without changes

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [161]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df.loc[df['Home Team Initials'].isin(["KOR", "PRK"]), 'Home Team Initials'] = "NSK"
df[df['Home Team Name'] == "Korea"][['Home Team Name', 'Home Team Initials']]

Empty DataFrame
Columns: [Home Team Name, Home Team Initials]
Index: []

Make sure to verify your answer!

In [162]:
# Check the updated columns
df[df['Home Team Name'] == "Korea"][['Home Team Name', 'Home Team Initials']]

df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

## Summary

In this lab, you practiced accessing data within Pandas!